// =========================================
//  Mixins
// =========================================


//Media queries

@mixin mq($break) {
  @if $break == "small" {
    @media (min-width: $brkpoint-sm) and (max-width: $brkpoint-md) {
    @content;
    }
  }
 @else if $break == "medium" {
    @media (min-width: $brkpoint-md + 1){
    @content;
    }
  }
 @else if $break == "large" {
    @media (min-width: $brkpoint-lg) {
    @content;
    }
  }
  @else {
    @error "This is not a correct breakpoint please use one of the given Breakpoints`#{$break}` "
  }
};


// text format mixin

@mixin text($size: $base__font-size, $weight: null, $l-height: $base__line, $color: $color-primary) {
  color: $color;
  font-size: $size;
  line-height: $l-height;
  font-weight: $weight;
}
