// =========================================
//  Forms
// =========================================

.form {
  @include e(label) {
    @include m(hidden) {
      display: none;
    }
  }
  @include e(input) {

    border: none;
    border-bottom: 5px solid $color-primary;
    padding: em(45px) em(0px) em(15px) em(15px);
    margin-left: 2.5%;
    width: 95%;
  }
}
