// =========================================
//  player
// =========================================
.video-container {
  @include mq(medium) {
    margin-top: em(30px);
    width: 70%;
    margin-left: auto;
    margin-right: auto;
  }
  .mejs__controls {
  background-color: $color-highlight;

  }

  .mejs__duration {
    color: white !important; 
  }
}
