// =========================================
//  Typography
// =========================================

.text-container {
@include mq(small) {
    margin-left: em(25px);
    margin-right: em(25px);
    margin-top: em(35px);
  }
@include mq(medium) {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  }
@include text();
}
