// =========================================
//  Typography
// =========================================

.headline {
  @include m(primary) {
    color: $color-primary;
    padding-left: em(10px);
  }
  @include m(secondary) {
    @include text($weight: $font-weight--thin, $color: $color-text--light);
    margin-top: em(70px);
  }
}

.link {
  @extend %link;
}
