
// =========================================
// Base
// =========================================

* {
  box-sizing: border-box;
  font-family: $font-family--primary;
}

p {
font-size: $base__font-size;
line-height: $base__line;
color: $color-primary;
font-weight: $font-weight--thin;
}
